@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/basics'; // Основные общие стили
@import 'components/menu';
@import 'components/footer';
@import 'pages/content';
@import 'pages/home';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  display: block;

  &_lg {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
}
