.main {
  height: 100%;
  position: relative;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.8;

    @include screen(md,max) {
      line-height: 1.6;
    }
  }

  h1 {
    text-align: center;

    @include screen(md,max) {
      font-size: 14px;
    }
  }

  p {
    font-size: 20px;
    margin-top: 25px;

    @include screen(md,max) {
      font-size: 12px;
    }
  }

  .bg-image {
    height: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0.2;

    img {
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
