.main.home {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen(md,max) {
      font-size: 12px;
    }

    p {
      margin-top: 0;
    }
  }

  img {
    width: 750px;
    margin-top: 35px;

    @include screen(md,max) {
      width: 100%;
    }
  }
}
