.header {
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      @include screen(md,max) {
        display: flex;
        flex-direction: column;
      }

      &__toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include screen(md,min) {
          display: none;
        }

        .icon-bar {
          display: block;
          width: 25px;
          height: 4px;
          margin: 2px;
          transition: background-color 0.2s ease-in-out,
                      transform 0.2s ease-in-out,
                      opacity 0.2s ease-in-out;
          background-color: $color-basic;
        }
      }

      &__menu {
        @include screen(md,max) {
          overflow: hidden;
          position: absolute;
          background-color: #ffffff;
          max-height: fit-content;
          display: flex;
          flex-direction: column;
          left: 0;
          right: 0;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          opacity: 0;
          visibility: hidden;
          top: 45px;
          transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
          z-index: 1;
        }

        &.opened {
          opacity: 1;
          visibility: visible;
        }
      }

      &__item {
        display: inline-block;

        +.nav__item {
          margin-left: 35px;
        }

        @include screen(md,max) {
          margin-left: 0!important;
          padding: 10px 0;
        }
      }
    }
  }
}
