// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1240px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 10px; // Расстояние между колонками
$grid-gap-vertical: 10px; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 992px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-basic: black; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: #fff; // Основной цвет input, select и textarea
$color-main: #3d514c; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций

$bg-light: #f3eae3;
$bg-white: #fff;
$bg-black: #000;

// ##########
// Transitions
// ##########
$ease-main: .2s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Montserrat', sans-serif; // Основной шрифт сайта
$font-second: 'Prata', serif; // Дополнительный шрифт
$font-third: 'Oranienbaum', serif;
